*{
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

nav, header, #projects, hr {
    margin-right: 10%;
    margin-left: 10%;
}

p, a, button, li {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

input, textarea {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

button {
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-top-style: none;
}

hr {
    height: 2px;
    background-color: black;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-top-style: none;
}

nav {
    font-size: 1.4em;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 75px;
}

nav p {
    font-size: 2em;
}

nav a, nav p{
    padding: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255, 0.2);
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar li, .sidebar a{
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 1200px){
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media(max-width: 600px) {
    .sidebar{
        width: 100%;
    }
}

header {
    margin-top: 10%;
}

header p {
    font-size: 5em;
    margin-bottom: -1%;
}

header a {
    font-size: 3em;
    margin-top: 1%;
    padding: 1%;
    background: black;
    color: white;
    display: inline-block;
    margin-bottom: 5%;
    text-decoration: none;
}

header a:hover {
    background-color: rgb(50,50,50);
}

#headerP {
    margin-bottom: 1%;
}

#desc, #desc1 {
    font-size: 2em;
    margin-bottom: 0.25%;
}

#pGradient1 {
    background: linear-gradient(to right, #6203fc, #f52020, #f5d520);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
}

#services {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}
#div1 {
    width: 100%;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically if needed */
    text-align: center; /* Optional, centers text inside divs */
    font-size: 3em;
}

#servicesP {
    font-size: 0.75em;
    margin-bottom: 1%;
    background: linear-gradient(to right, #6203fc, #f52020, #f5d520);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
}

#about {
    margin-top: 7.5%;
    display: flex;
    justify-content: space-between; /* Optional: Adjusts spacing between child elements */
    align-items: center; /* Centers items vertically */
    margin-left: 10%;
    width: 80%; /* Ensures it takes full width */
}

#service1, #service2, #service3 {
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    line-height: 150%;
}

#serviceMain {
    margin-bottom: 9.5%;
    text-align: center;
    font-size: 2em;
}

#services ul {
    margin-top: 2%;
}

#services li {
    margin-bottom: 2%;
}

#projects {
    margin-top: 5%;
    margin-bottom: 3%;
}

#projects1 {
    width: 100%;
    height: 400px;
    display: flex;
}

#projects1 div {
    margin-top: 5%;
    width: 40%;
}

#projects iframe {
    width: 90%;
    height: 100%;
}

#contact, footer {
    background-color: black;
    color: rgb(240,240,240);
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%; 
}

#contact article {
    margin-top: 10%;
    display: flex;
}

#contact article div {
    width: 50%;
}

#div2 div {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

form p{
    font-size: 1.4em;
}

input {
    font-size: 1.4em;
    padding: 2%;
    width: 100%;
    border-style: none;
    margin-top: 1%;
    margin-bottom: 3%;
}

textarea {
    font-size: 1.4em;
    padding: 2%;
    width: 100%;
    border-style: none;
    margin-top: 1%;
}

#submit {
    margin-top: 5%;
    width: 30%;
    height: 100px;
    font: bold;
    background-color: rgb(240,240,240);
}

#submit:hover {
    cursor: pointer;
    background-color: rgb(200,200,200);
}

footer {
    padding-left: 17.5%;
    padding-right: 17.5%;
    padding-top: 15%;
    padding-bottom: 1%;
}

footer article {
    display: flex;
    align-items:center;
}

footer article div {
    width: 50%;
}

#div10 {
    font-size: 1.5em;
}

table a {
    text-decoration: none;
    color: white;
}

table, table td, table th, table a {
    padding: 20px;
}

table a:hover {
    background-color: rgb(50,50,50);
}

table tr {
    float: left;
}

#div11 {
    margin-top: 7.5%;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 125px;
}

#div11 a {
    width: 20%;
    height: 100%;
    font-size: 3em;
    color: rgb(240,240,240);
    background-color: black;
    text-decoration: none;
    padding: 2%;
}

#div11 a:hover {
    background-color: rgb(50,50,50);
    cursor: pointer;;
}